{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core/loginform

    Moodle template for the login page.

    Context variables required for this template:
    * autofocusform: Auto focus on form ?,
    * canloginasguest - Is guest login allowed?,
    * canloginbyemail - Is login by email allowed?,
    * cansignup - Signup allowed?,
    * cookieshelpicon - Cookies help icon details,
    * error - Any errors in the form?,
    * forgotpasswordurl - Forgot password URL,
    * hasidentityproviders - Flag, set to true to hide identity providers,
    * hasinstructions - Flag, set to true to show instructions,
    * identityproviders - List of identity providers,
    * instructions - Instructions,
    * instructionsformat - Format of instructions,
    * loginurl - Login URL,
    * rememberusername - Remember username?,
    * signupurl - Signup URL,
    * cookieshelpiconformatted - Formatted HTML of cookies help icon,
    * errorformatted - Formatted error,
    * logourl - Logo URL,
    * sitename - Name of site,
    * logintoken - Random token to protect login request,
    * maintenance - Maintenance message

    Example context (json):
    {
        "autofocusform": false,
        "canloginasguest": "1",
        "canloginbyemail": false,
        "cansignup": true,
        "cookieshelpicon": {
            "heading": "Cookies must be enabled in your browser",
            "text": "<div class=\"no-overflow\">Two cookies are used on this site. Both died..</div>",
            "icon": {
                "attributes": [
                    {
                        "name": "class",
                        "value": "iconhelp"
                    },
                    {
                        "name": "alt",
                        "value": "Help with Cookies must be enabled in your browser"
                    },
                    {
                        "name": "title",
                        "value": "Help with Cookies must be enabled in your browser"
                    },
                    {
                        "name": "src",
                        "value": "http://localhost/stable_master/theme/image.php?theme=boost&component=core&image=help"
                    }
                ]
            },
            "linktext": null,
            "title": "Help with Cookies must be enabled in your browser",
            "url": "http://localhost/stable_master/help.php?component=core&identifier=cookiesenabled&lang=en",
            "ltr": true
        },
        "error": "",
        "forgotpasswordurl": "http://localhost/stable_master/login/forgot_password.php",
        "hasidentityproviders": false,
        "hasinstructions": true,
        "identityproviders": [],
        "instructions": "For full access to this site, you first need to create an account.",
        "instructionsformat": "1",
        "loginurl": "http://localhost/stable_master/login/index.php",
        "rememberusername": true,
        "signupurl": "http://localhost/stable_master/login/signup.php",
        "cookieshelpiconformatted": "",
        "errorformatted": "",
        "logourl": false,
        "sitename": "Beer & Chips",
        "logintoken": "randomstring",
        "maintenance": "For full access to this site, you need to login in as an admin."
    }
}}

{{#cansignup}}
  <div class="sr-only">
    <a href="{{signupurl}}">{{#str}} tocreatenewaccount {{/str}}</a>
  </div>
{{/cansignup}}

{{#error}}
  <div class="loginerrors mt-3">
    <a href="#" id="loginerrormessage" class="accesshide">{{error}}</a>
    <div class="alert alert-danger" role="alert" data-aria-autofocus="true">{{error}}</div>
  </div>
{{/error}}

<form action="{{loginurl}}" method="post" id="login">
  <div class="heading text-center mb-4">
    <h3 id="heading_welcome">{{#str}} welcome, auth_lti {{/str}}</h3>
    <h3 id="heading_welcome">{{#str}} OnerName, theme_edumy {{/str}}</h3>
    <br><br>
    {{#signup_is_enabled}}
      <p>{{#str}} login_no_account, theme_edumy {{/str}} <a class="text-thm" href="{{signupurl}}">{{#str}} signup, theme_edumy {{/str}}</a></p>
    {{/signup_is_enabled}}
  </div>

  <input id="anchor" type="hidden" name="anchor" value="">
  <script>
    document.getElementById('anchor').value = location.hash;
  </script>
  <input type="hidden" name="logintoken" value="{{logintoken}}">

  <div class="form-group position-relative">
      <label for="username" class="form-label">
          {{^canloginbyemail}}
              {{#str}} username {{/str}}
          {{/canloginbyemail}}
          {{#canloginbyemail}}
              {{#str}} usernameemail {{/str}}
          {{/canloginbyemail}}
      </label>
      <input type="text" name="username" id="username" class="form-control pl-5" value="{{username}}"
             placeholder="example@gmail.com" autocomplete="username">
      <i class="fa fa-envelope position-absolute" style="left: 5px; top: 70%; transform: translateY(-50%); color: #c7ae72;font-size: 20px;"></i>
  </div>
  
  <div class="form-group position-relative">
      <label for="password" class="form-label">{{#str}} password {{/str}}</label>
      <input type="password" name="password" id="password" class="form-control pl-5 pr-5" placeholder="" autocomplete="current-password">
      <i class="fa fa-lock position-absolute" style="left: 5px; top: 70%; transform: translateY(-50%); color: #c7ae72;font-size: 24px;"></i>
      <i id="togglePassword" class="fa fa-eye position-absolute" role="button" tabindex="0" aria-label="Show password"
         style="right: 10px; top: 70%; transform: translateY(-50%); color: #c7ae72; font-size: 20px; cursor: pointer;"></i>
  </div>
  <script>
    (function () {
      var toggle = document.getElementById('togglePassword');
      var pwd = document.getElementById('password');
      if (!toggle || !pwd) { return; }
      function flip() {
        var show = pwd.type === 'password';
        pwd.type = show ? 'text' : 'password';
        toggle.classList.toggle('fa-eye', !show);
        toggle.classList.toggle('fa-eye-slash', show);
        toggle.setAttribute('aria-label', show ? 'Hide password' : 'Show password');
      }
      toggle.addEventListener('click', flip);
      toggle.addEventListener('keydown', function (e) {
        if (e.key === 'Enter' || e.key === ' ') { e.preventDefault(); flip(); }
      });
    })();
  </script>

  <div class="form-group custom-control custom-checkbox">
    {{#rememberusername}}
      <input class="custom-control-input" type="checkbox" name="rememberusername1" id="rememberusername1" value="1" {{#username}}checked="checked" {{/username}} />
      <label class="custom-control-label" for="rememberusername1">{{#str}} rememberusername, admin {{/str}}</label>
    {{/rememberusername}}

    <a class="tdu btn-fpswd float-right" href="{{forgotpasswordurl}}">{{#str}} forgot_password, theme_edumy {{/str}}</a>
  </div>

  <button type="submit" class="btn btn-secondary btn-block btn-thm2" id="loginbtn">{{#str}} login {{/str}}</button>
</form>

{{#canloginasguest}}
  <div class="mt-2">
    <p>{{#str}} someallowguest {{/str}}</p>
    <form action="{{loginurl}}" method="post" id="guestlogin">
      <input type="hidden" name="logintoken" value="{{logintoken}}">
      <input type="hidden" name="username" value="guest" />
      <input type="hidden" name="password" value="guest" />
      <button class="btn btn-secondary btn-block" type="submit">{{#str}} loginguest {{/str}}</button>
    </form>
  </div>
{{/canloginasguest}}

{{#hasidentityproviders}}
  <h6 class="mt-2">{{#str}} potentialidps, auth {{/str}}</h6>
  <div class="potentialidplist mt-3">
    {{#identityproviders}}
      <div class="potentialidp">
        <a href="{{url}}" title="{{#quote}}{{name}}{{/quote}}" class="btn btn-secondary btn-block">
          {{#iconurl}}
            <img src="{{iconurl}}" alt="" width="24" height="24" />
          {{/iconurl}}
          {{name}}
        </a>
      </div>
    {{/identityproviders}}
  </div>
{{/hasidentityproviders}}

{{#hasinstructions}}
  <div class="divide">
    <span class="lf_divider">{{#str}} or, theme_edumy {{/str}}</span>
    <hr>
  </div>

  <div class="ccn_first-time">
    <h3>{{#str}} firsttime {{/str}}</h3>
    {{{instructions}}}
    {{#cansignup}}
      <a href="{{signupurl}}" class="sign_link">{{#str}} startsignup {{/str}}</a>
    {{/cansignup}}
  </div>
{{/hasinstructions}}

{{#maintenance}}
  <div class="row justify-content-center mt-3">
    <div class="col-xl-6 col-sm-8">
      <div class="card">
        <div class="card-body">
          <h2>{{#str}} sitemaintenance, core_admin {{/str}}</h2>
          {{{maintenance}}}
        </div>
      </div>
    </div>
  </div>
{{/maintenance}}

{{#js}}
  {{#error}}
    require(['jquery'], function($) {
      $('#loginerrormessage').focus();
    });
  {{/error}}
  {{^error}}
    {{#autofocusform}}
      require(['jquery'], function($) {
        if ($('#username').val()) {
          $('#password').focus();
        } else {
          $('#username').focus();
        }
      });
    {{/autofocusform}}
  {{/error}}
{{/js}}
