/config.php
/moodledata/
.DS_Store

# Ignore all /local/ plugins EXCEPT our custom ones
/local/*
!/local/registrationcodes/
!/local/autoenrol/
!/local/videopay/

# Track our custom enrol plugin
/enrol/*
!/enrol/autoenrol/
