/config.php
/moodledata/
.DS_Store
/.env

# Ignore all /local/ plugins EXCEPT our custom ones
/local/*
!/local/registrationcodes/
!/local/autoenrol/
!/local/videopay/
!/local/subscriptions/
!/local/deviceregistration/
